body{
    width: 1080;
    height:950px;        
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(to bottom right, grey 0%, black 100%);

}
input{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}

#submit{
    background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%)
      padding-box,
    linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
    border-radius: 7px;
    border: 2px solid transparent;

    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #45090059;

    padding: 10px 40px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

#submit:hover {
  box-shadow: none;
  opacity: 80%;
}
